<div class="center hero-unit">
  <h1>Welcome to Liyana Siraj Book List Page</h1>

  <h2>
    First time users, Please sign up below to see the books that Liyana has.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Linus.png", alt: "Linu's Picture") %>
